{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block content %}
	<div class="container">
	<div class="col-lg-12 box-default">
		<h1 class="box-header">
			Mensajería privada
		</h1>
		<div class="col-lg-6">
		
				<a href="{{ path('mensaje_privado_index') }}" class="btn btn-warning">
				Ver mensajes recibidos
				</a>
		</div>
			
		<div class="col-lg-6">
					<h4> Mensajes enviados</h4>
					
			<div class="box-content box-mensajes">
			{% for mensajes in pagination %}
				<div class=" col-lg-12 publication-item">
					<div class="avatar">
						{% if mensajes.emisor.imagen == null %}
						 
							<img src="{{ asset('assets/images/default.png' )}}" />
						{% else %}
							<img src="{{ asset('uploads/usuarios/'~mensajes.emisor.imagen )}}" />
				
						{% endif %} 
						
					</div>
					<div class="publication-content">
						{%if mensajes.publicacion != null  %}
							Publicacion: {{ mensajes.publicacion.asunto }}
						{%endif %}
						<br>
						Receptor: {{ mensajes.receptor.nombre }}
						<br>
						Texto: {{ mensajes.mensaje }}
						<br>
						<span class="pub-date">
								 Enviado {{ mensajes.createtAt|long_time }}
								</span>
							
						
						{#<br>
						Nombre: {{ mensajes.usuario.nombre }}#}
						{#<br>
						Día libre: {{ mensajes.diaLibre|date('d') }}
						<br>
						Mes libre: {{ mensajes.diaLibre|date('m') }}
						<br>
						Año libre: {{ mensajes.diaLibre|date('Y') }}#}
						
					</div>
				</div>
			{% endfor %}
			<div class="clearfix"></div>
			<div class="navigation">
				{{ knp_pagination_render(pagination) }}
			
			</div>
			</div>
			<div class="clearfix"></div>	
			 
	</div>
		<div class="clearfix"></div>
{% endblock %}	
	

